local: &local
  adapter: postgresql
  username: enter_your_db_user
  password: enter_your_db_pswd
  host: localhost

development:
  <<: *local
  database: rss-aggr_dev

test:
  <<: *local
  database: rss-aggr_test

production:
  <<: *local
  database: rss-aggr_production