local: &local
  adapter: postgresql
  username: postgres
  password:
  host: localhost

development:
  <<: *local
  database: feedtaker_dev

test:
  <<: *local
  database: feedtaker_test

production:
  <<: *local
  database: feedtaker_production
